<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exchange of currency</title>
</head>
<body>

<div>
    <h3>Выберите валюту для обмена</h3>
    <form method="post" >
        <div>
            <select th:field="${wrapper.currency}">
                <option th:value="${dollar}">Доллар</option>
                <option th:value="${euro}">Евро</option>
                <option th:value="${crown}">Фунты стерлингов</option>
            </select>
        </div>
        <div>
            <h3>Введите сумму в рублях</h3>
            <input type="number" name="amount" placeholder="Введите сумму">
            <button type="submit">Конвертировать</button>
        </div>
    </form>

</div>

</body>
</html>